<!DOCTYPE html ng-app="myApp">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>File_upload</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body layout="column" ng-controller="AppController as vm">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
            </md-icon>
        </md-button>
        <h1>File_upload </h1>
    </div>
</md-toolbar>
<div layout="row" flex ng-controller="SidebarController as side">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        <md-button ng-click="side.setTab(1)" class="md-accent" >View Images</md-button>
        <md-button ng-click="side.setTab(2)" class="md-accent" >View Videos</md-button>
        <md-button ng-click="side.setTab(3)" class="md-accent" >Upload</md-button>

    </md-sidenav>


        <md-content ng-show="side.isSet(1)" layout="row" flex class="md-padding" layout-wrap layout-padding layout-margin ng-controller="ViewImageController as viewCtrl">
            <div flex="25" ng-repeat="photo in viewCtrl.photos">
                <md-card layout-padding layout-margin >
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{photo.title}}</span>
                            <span class="md-subhead">{{photo.uploadDate | date:'short'}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media">
                                <img ng-src="{{photo.path}}">{{photo.fileName}}</img>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>placeholder</md-button>
                        <md-button>buttons</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>

        <md-content ng-show="side.isSet(2)" layout="row" flex class="md-padding" layout-wrap layout-padding layout-margin ng-controller="ViewVideoController as viewCtrl">
            <div flex="25" ng-repeat="video in viewCtrl.videos">
                <md-card layout-padding layout-margin >
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{video.title}}</span>
                            <span class="md-subhead">{{video.uploadDate | date:'short'}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media">
                                <video width="100%" src="{{video.path}}" controls></video>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>placeholder</md-button>
                        <md-button>buttons</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>


        <md-content ng-show="side.isSet(3)" layout="column" flex class="md-padding">
            <!-- start tab 3 content -->
            Upload on form submit or button click
            <form ng-controller="MyCtrl" name="form">
                Single Image with validations
                <input type="file" ngf-select="" ng-model="file" name="file"
                     accept="image/*,video/*" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}" required>
                <br>
                <img ngf-src="file" class="thumb">
                <video ngf-src="file" class="thumb"></video>
                img here
                <br>
                Select Multiple files
                <input type="file" ngf-select ng-model="files" ngf-multiple="true">
                <br>
                <div ng-repeat="img in files">
                    <img ngf-thumbnail="img" ngf-size="{width:100, height:100, quality:1}">
                </div>
                <br>
                Select Drop files: <div ngf-drop ng-model="filesVid" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="video/*,application/pdf" ngf-pattern="'video/*,application/pdf'">Drop</div>
                <button type="submit" ng-click="submit()">submit</button>
                <br>
                <div ng-repeat="vid in filesVid">
                    <video ngf-src="vid" class="thumb">
                </div>
            </form>

            Upload right away after file selection:
            <div class="button" ngf-select="upload($file)">Upload on file select</div>
            <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
            Drop File:
            <div ngf-drop="uploadFiles($files)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

            Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
            Audio preview: <audio controls ngf-src="file"></audio>
            Video preview: <video controls ngf-src="file"></video>


            <!-- end tab 3 content -->
        </md-content>

    </div>
</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="app.js"></script>
<script src="upload.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
